{# src/MM/MainBundle/Resources/views/Article/add.html.twig #}

{% extends "MMMainBundle::layout.html.twig" %}

{% block body %}

  <h2>Ajouter une catégorie</h2>

  {{ include("MMMainBundle:Category:form_cat.html.twig") }}

{% endblock %}
